.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: rgb(238, 244, 249);
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
